@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Playfair+Display&display=swap');
body {
	background : #f2f2f2;
	text-align : center;
	}
header {
	border-bottom : 2px dashed silver;
}
h1 {
	background : linear-gradient(rgb(226,185,200),rgb(199,157,242));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 5rem;
}
	
.white{
	background:
	linear-gradient(to right, rgba(188,215,213,0.5), rgba(235,217,167,0.3)), url(https://i.pinimg.com/564x/88/e7/80/88e78099e5a7794b96b30f42fbd78d4b.jpg);
	
	width : 400px;
	height : 400px;
	background-size : cover;
}	

main {
	border : 5px dotted #BEECC7;
}
.card1 {
	border: 5px solid transparent;
	border-image : linear-gradient(to bottom, rgb(216,201,245), rgb(179,165,206));
	border-image-slice : 1;
	width : 8rem;
	padding : 5rem 2rem;
	margin : 5rem auto;
	font-size : 100px;
}

.square {
	width : 100px;
	height : 100px;
	background : blue;
	position : relative;
	animation : mymove 5s infinite;
}

@keyframes mymove {
  0%   {top: 0px; left: 0px; background: red;}
  25%  {top: 0px; left: 100px; background: blue;}
  50%  {top: 100px; left: 100px; background: yellow;}
  75%  {top: 100px; left: 0px; background: green;}
  100% {top: 0px; left: 0px; background: red;}
}

blockquote {
	padding : 20px;
	box-shadow : 3px 3px #BAD0EC, -1em 0.4 #CBCAEF;
}
h4 {
	font:1.5em 'PlayFair', serif;
	font-weight : bolder;
}

h5 {
	font: 1.5em 'Major Mono Display', serif;
}
footer {
	border-top : 3px double silver;
}